/* responsive start*/
@media only screen and (max-width: 1400px) {
    .spaceY {
        padding: 60px 0px;
    }

    .home_s1_grid_child h1 {
        font-size: 55px;
    }

    .homeS2_card_title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .homeS2_card1 {
        padding: 15px 20px;
    }

    .homeS2_card p {
        font-family: 'Signika';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 140%;
        text-align: center;
        color: #000000;
    }

    .homeS2_card span {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #000000;

    }

    .homeS4_table_div thead {
        font-size: 20px;
    }

    .homeS4_table_div th {
        padding: 18px 0px 18px 40px;
    }

    .homeS4_table_div td {
        padding: 18px 0px 18px 40px;
    }

    .homeS4_table_div {
        padding: 50px 40px;
    }

    .arrowBtnSvg {
        width: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .menu li {
        margin-right: 0px;
        padding-left: 20px;
    }

    .cryptoS3_grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 992px) {
    header {
        position: static;
    }

    .menu_ul {
        position: absolute;
        background-color: #fff;
        top: 84px;
        width: 100%;
        left: -1000px;
        padding: 20px 0px;
        z-index: 1;
        transition: left 0.3s;
    }

    .menu_ul li {
        display: block;
        margin-top: 20px;
    }

    /* humberger start */
    .humberger {
        width: 25px;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: #000;
    }

    .line1 {
        transition: all 0.3s;
    }

    .line3 {
        transition: all 0.3s;
    }

    .line2 {
        margin: 5px 0px;
    }

    .humberger {
        display: block;
    }

    /* humberger end */
    .home_s1_grid {
        grid-template-columns: 1fr;
    }

    /* home sec_2 start */
    .homeS2_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* home sec_2 end */

    /* home sec_4 start */
    .homeS4_table_div thead {
        font-size: 15px;
    }

    .homeS4_table_div th {
        padding: 10px;
    }

    .homeS4_table_div td {
        padding: 10px;
    }

    .homeS4_table_div table {
        width: 750px;
        border-spacing: 0px;
    }

    /* home sec_4 end */

    .cryptoS3_grid {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .cryptoS1 .title1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .CrytopS1_div {
        margin-top: -500px;
    }

    /* footer start */
    .footer_main {
        grid-template-columns: repeat(2, 1fr);
    }

    /* footer end */

    .htS2_grid {
        grid-template-columns: 1fr;
    }

    .htS2_grid2 div:nth-of-type(1) {
        order: 2;
    }

    .htS2_grid2 div:nth-of-type(2) {
        order: 1;
    }

    .htS5_grid {
        grid-template-columns: 1fr;
    }

    .hts7_div {
        grid-template-columns: 1fr;
    }

    .hts7_div div:nth-of-type(1) {
        order: 2;
    }

    .hts7_div div:nth-of-type(2) {
        order: 1;
    }

    .hcS2_header{
        flex-direction: column;
        gap: 30px;
    }

    .dash_S1_grid{
        grid-template-columns: 1fr;
    }

    .api_sec1_dbl_btn {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .fagS2_div {
        grid-template-columns: 1fr;
    }
    .faq-page {
        padding: 15px 0px;
    }

    .hr-line{
        margin: 0px;
    }

    .blog_img{
        height: 350px;
    }

    .blog_details_layout{
        grid-template-columns: 1fr;
    }
    
}

@media only screen and (max-width: 768px) {

    .spaceXY {
        padding: 30px 20px;
    }

    /* home sec_2 start */
    .homeS2_grid {
        grid-template-columns: 1fr 1fr;
    }

    /* home sec_2 end */

    .homeS4_table_div {
        padding: 30px 20px;
    }

    .sliderBtn {
        display: none;
    }

    .title1 {
        font-size: 25px;
    }

    .title2 {
        font-size: 22px;
    }

    .crypto_S3_img_div {
        margin: 0 auto;
    }

    .homeS2_title button {
        padding: 5px 15px;
    }

    .crypto_S3_img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
        position: relative;
        z-index: 2;
    }

    .CrytopS1_div {
        padding: 30px 25px;
    }

    .CrytopS1_div {
        margin-top: -550px;
    }

    .crypto_S3_img_overlay {
        width: 150px;
        height: 150px;
        right: -10px;
        bottom: -10px;
    }

    .cryptoS4_table_div table {
        width: 602px;
        border-spacing: 0px;
    }

    .cryptoS4_table_div {
        padding: 0px 15px;
    }

    .dashS2_table_top {
        flex-direction: column;
        gap: 10px;
    }

    .online_btn{
        padding: 10px 20px;
    }

    .offline_btn{
        padding: 10px 20px;
    }

    .online_btn::before{
        left: 10px;
    }

    .offline_btn::before{
        left: 10px;
    }
    .api_sec1_dbl_btn button{
        font-size: 10px;
    }

    .blog_grid{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .home_s1_grid_child h1 {
        font-size: 45px;
    }

    .home_s1_grid_child p {
        font-size: 16px;
    }

    .yellow_btn {
        padding: 5px 8px;
    }


    /* footer start */
    .footer_main {
        grid-template-columns: 1fr;
    }

    /* footer end */

    .common_S1 {
        min-height: 300px;
    }

    .hcS2_header_left{
        flex-direction: column;
    }
    .fagS2_div {
        margin-top: -100px;
    }
}

@media only screen and (max-width: 500px) {

    /* home sec_2 start */
    .homeS2_grid {
        grid-template-columns: 1fr;
    }

    /* home sec_2 end */
    .api_sec1_dbl_btn button{
        font-size: 7px;
    }

    .blog_img {
        height: 250px;
    }
}


/* responsive end*/




/* responsive start container */

@media only screen and (min-width: 1550px) {
    .container {
        width: 1500px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1550px) {
    .container {
        width: 1320px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        width: 520px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}


/* responsive end */